img {
	max-width: 100%;
	height: auto;
}
.in, .out {
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 400ms !important;
}
#decImg { max-height: 60px !important; }
.big { margin-top: -1px !important; width: 50px !important; height: 133px !important; margin-bottom: 0px !important; }
.header { background-color: #333 !important; }
.header h1 { color: #FFF !important; text-shadow: none !important; }
.fixed-text {
	height: auto !important; /* !important is used to force override. */
}
.animContent { min-width: 240px !important; }
#quit, .js-anim { border-color: #666 !important; }
#quit, .dlt, #delAllBtn { background-color: #FF5F69 !important; text-shadow: none;}
.edit { margin-left: 5px; margin-right: 10px; min-height: 150px; display: block; border:2px; }
.center { text-align: center; }
img.center, table.center, .round-button.center { display: block; margin-left: auto; margin-right: auto; }
.tasks { height: 100%; }
.ez 	{ color: #99FF99 !important; }
.mid 	{ color: #FFF985 !important; }
.hard { color: #FF5F69 !important; }

#avat-right, #avat-left, #decor-left, #decor-right {
	top: 50%;
	transform: translateY(-50%);
}

#addButton, .js-anim { background-color: #34DD91 !important; text-shadow: none !important; }
.noStyle {
	background-color: rgba(0, 0, 0, 0) !important;
	border: none !important;
	padding: 0px !important;
}

.board {
	background-color:  #464646;
	height: 240px;
	width: 240px;
	border: none;
	border-spacing: 0px;
}

.board tr {
	height:60px;
}

.board td {
	width: 60px;
	position: relative;
}

.board td img {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
}

/* Emprunté de Jose Vargas à http://codeitdown.com/css-round-buttons/*/
.round-button {
	cursor: pointer;
	display:block;
	width:50px;
	height:50px;
	line-height:50px;
	border: 2px solid #f5f5f5;
	border-radius: 50%;
	color:#f5f5f5;
	text-align:center;
	text-decoration:none;
	background-color: #34DD91;
	box-shadow: 0 0 3px gray;
	font-size:20px;
	font-weight:bold;
}
.round-button:hover {
	background: green;
}
/* Fin de l'emprunt*/